.placeholder {
    margin-top: 32px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20%;
    text-align: center;
}
