version: "3.3"

services:

  traefik:
    image: "traefik:v2.10"
    container_name: "traefik"
    command:
      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--entryPoints.web.address=:80"
      - "--certificatesresolvers.myresolver.acme.email=${EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${HOST}`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.routers.dashboard.tls.certresolver=myresolver"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/etc/traefik/usersfile"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./usersfile:/etc/traefik/usersfile:ro"
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - trfk


  desktop:
    image: portainer/portainer-ce:latest
    container_name: "desktop"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.desktop.entrypoints=web"
      - "traefik.http.routers.desktop.rule=Host(`desktop.${HOST}`)"
      - "traefik.http.middlewares.desktop-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.desktop.middlewares=desktop-https-redirect"
      - "traefik.http.routers.desktop-secure.entrypoints=websecure"
      - "traefik.http.routers.desktop-secure.rule=Host(`desktop.${HOST}`)"
      - "traefik.http.routers.desktop-secure.entrypoints=websecure"
      - "traefik.http.routers.desktop-secure.tls=true"
      - "traefik.http.routers.desktop-secure.tls.certresolver=myresolver"
      - "traefik.http.routers.desktop-secure.service=desktop"
      - "traefik.http.services.desktop.loadbalancer.server.port=9000"
    volumes:
      - "desktop_volume:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: unless-stopped
    networks:
      - trfk

networks:
  trfk:
    driver: overlay
    external: true

volumes:
  desktop_volume: