.container {
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 12px;
}

.likeCard {
    width: fit-content;
    transition: 0.5s;
}

.actionsContainer {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.share {
    width: fit-content;
    padding: 8px;
    color: var(--vkui--color_text_subhead);
}

.like {
    width: fit-content;
    padding: 8px;
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    gap: 8px;

}

.likedText {
    color: var(--vkui--color_text_negative);
}

.unlikedText {
    color: var(--vkui--color_text_subhead);
}

.likeActiveCard {
    background: var(--vkui--color_background_negative_tint);
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.likeActive {
    animation: scaleAnimation 1s;
}

.imageContainer {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageNormalize {
    width: 50%;
}

@media screen and (max-width: 728px) {
    .imageNormalize {
        width: 80%;
    }
}
