api.keys.5dollars=
api.keys.120dollars=

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=none

resilience4j.ratelimiter.instances.conversationLimit.register-health-indicator=true
resilience4j.ratelimiter.instances.conversationLimit.limit-for-period=6
resilience4j.ratelimiter.instances.conversationLimit.limit-refresh-period=60s
resilience4j.ratelimiter.instances.conversationLimit.timeout-duration=0s
resilience4j.ratelimiter.instances.conversationLimit.allow-health-indicator-to-fail=true
resilience4j.ratelimiter.instances.conversationLimit.subscribe-for-events=true
resilience4j.ratelimiter.instances.conversationLimit.event-consumer-buffer-size=50

resilience4j.ratelimiter.instances.historyLimit.register-health-indicator=true
resilience4j.ratelimiter.instances.historyLimit.limit-for-period=30
resilience4j.ratelimiter.instances.historyLimit.limit-refresh-period=60s
resilience4j.ratelimiter.instances.historyLimit.timeout-duration=0s
resilience4j.ratelimiter.instances.historyLimit.allow-health-indicator-to-fail=true
resilience4j.ratelimiter.instances.historyLimit.subscribe-for-events=true
resilience4j.ratelimiter.instances.historyLimit.event-consumer-buffer-size=50


resilience4j.ratelimiter.instances.messagesLimit.register-health-indicator=true
resilience4j.ratelimiter.instances.messagesLimit.limit-for-period=30
resilience4j.ratelimiter.instances.messagesLimit.limit-refresh-period=60s
resilience4j.ratelimiter.instances.messagesLimit.timeout-duration=0s
resilience4j.ratelimiter.instances.messagesLimit.allow-health-indicator-to-fail=true
resilience4j.ratelimiter.instances.messagesLimit.subscribe-for-events=true
resilience4j.ratelimiter.instances.messagesLimit.event-consumer-buffer-size=50

