.nextChat {
    background: var(--vkui--color_background_content);
}

.container {
    width: calc(100vw - var(--vkui--size_base_padding_horizontal--regular) * 2);
    margin-bottom: 60px;
}

.container pre {
    white-space: break-spaces;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}