.nextChat {
    background: var(--vkui--color_background_content);
}

.container {
    width: calc(100vw - var(--vkui--size_base_padding_vertical--regular));
    margin-bottom: 60px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}