.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    margin-right: 12px;
    display: grid;
    gap: 6px;
    align-items: center;
    grid-template-columns: auto auto;
}
