.panel {
    background: var(--vkui--color_background_content);
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 100vw;
    min-width: 100vw;
}

.cards {
    padding-bottom: 18px;
}

.placeholderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder {
    margin-top: -30px;
    margin-bottom: -30px;
}
