.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 100vw;
    min-width: 100vw;
    gap: 12px;
}

.cards {
    padding-bottom: 8px;
}

.placeholderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.placeholder {
    margin-top: -30px;
    margin-bottom: -30px;
}

.githubIcon {
   padding-left: 8px;
   margin-left: 4px;
   padding-right: 8px;
}
