.tag {
    padding: 1px 6px;
}

.eazy {
    background: var(--vkui--color_icon_positive--hover);
}

.medium {
    background: var(--vkui--color_accent_orange--hover);
}

.hard {
    background: var(--vkui--color_stroke_negative--hover);
}