.group {
    display: grid !important;
    flex-direction: column;
    height: 100%;
    max-width: 100vw;
    min-width: 100vw;
    gap: 12px;
    grid-template-rows: max-content;
}

.tabBarContainer {
    display: flex;
    flex-direction: column;
}

.tabBar {
    background: var(--vkui--color_background_content);
}

.tabBar :global(.vkuiTabbar__in) {
    display: flex;
    flex-direction: column;
}

.tabItem {
    cursor: pointer;
}

.tabItem:hover {
    opacity: 0.6;
    transition: opacity 300ms;
}