.container {
    display: flex;
    gap: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.messagesContainer {
    margin-top: 12px;
}

.message {
    cursor: pointer;
}


.selected {
    background: var(--vkui--color_background_secondary);
}

.disabled {
    pointer-events: none;
}

.topBlock {
    display: flex;
    justify-content: space-between;
}

.iconsBlock {
    position: relative;
    color: var(--vkui--color_icon_secondary);
    display: flex;
    gap: 10px;
    top: -8px;
}

.selectedIcon {
    color: var(--vkui--color_background_accent_themed);
}

.normalize {
    position: relative;
    top: 6px;
}
