.container {
    padding: 16px 2px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 4px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px;
}

.card img {
    border-radius: 50%;
}