.paragraph {
    margin-top:-12px;
}

.codeContainer {
    position: relative;
}

.additional {
    position: absolute;
    right: 4px;
    top: 4px;
    display: flex;
    color: var(--vkui--color_icon_secondary);
}
