.cardContainer {
    display: flex;
}

.cardName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardText {
    margin-left: 12px;
}

.subtitleText {
    color: var(--vkui--color_text_secondary);
}

.productTitle {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 728px) {
    .productTitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .productTitle button {
        width: 100%;
    }
}

.productContainer {
    display: grid;
    gap: 16px;
}
