.container {
    border-radius: var(--vkui--size_card_border_radius--regular);
    background-color: var(--vkui--color_background_content);
    box-shadow: 0 0 0 var(--vkui_internal--thin_border) var(--vkui--color_field_border_alpha) inset;
    padding-top: 8px;
}

.containerTop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.containerBottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


