
.header :global(.vkuiPanelHeader__content-in) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header :global(.vkuiPanelHeader__content) {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.compactHeader :global(.vkuiSimpleCell) {
    padding-left: 2px;
    padding-right: 2px;
}

.header :global(.vkuiPanelHeader__content) {
    padding-right: 4px !important;
}

.desktopHeader :global(.vkuiPanelHeader__after) {
    min-width: auto;
}

.desktopHeader :global(.vkuiPanelHeader__content) {
    width: 100%;
    text-align: left;
}

.desktopHeader :global(.vkuiText) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktopHeader .historyIcon {
    margin-right: 8px;
}

.fallbackIcon {
    display: flex;
    align-items: center;
}

.headerSubtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.iconMobile {
    color: var(--vkui--color_text_positive--active)
}
