.loader {
    display: block;
    border-radius: 50%;
    background-color: var(--vkui--color_background_tertiary);
    box-shadow: 8px 0 var(--vkui--color_background_tertiary), -8px 0 var(--vkui--color_background_tertiary);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: var(--vkui--color_icon_secondary);
        box-shadow: 8px 0 var(--vkui--color_icon_secondary), -8px 0 var(--vkui--color_background_tertiary);
    }
    50% {
        background-color: var(--vkui--color_background_tertiary);
        box-shadow: 8px 0 var(--vkui--color_icon_secondary), -8px 0 var(--vkui--color_icon_secondary);
    }
    100% {
        background-color: var(--vkui--color_icon_secondary);
        box-shadow: 8px 0 var(--vkui--color_background_tertiary), -8px 0 var(--vkui--color_icon_secondary);
    }
}
