.container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
}

.stopGenerationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

