.container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
}

.containerTg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.stopGenerationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 728px) {

    .containerTg {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
