.container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

.container :global(.vkuiPlaceholder--withPadding) {
    padding: 48px 10px;
}

.container :global(.vkuiFormItem--withPadding) {
    padding: 0;
}



.containerWidth {
    margin-top: 10%;
    width: 65%;
}

@media screen and (max-width: 728px) {
    .containerWidth {
        margin-top: 0%;
        width: 100%;
    }
}



