code,pre {
    white-space: break-spaces !important;
}

.code {
    padding-right: 40px !important;
    box-sizing: border-box;
    width: 100%;
}

.blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul,ol {
    padding: 0;
    list-style: none;
}

.isOneOperand {
    padding: 1px 6px  !important;
    margin: 0 !important;
    width: auto;
    display: inline;
}


.paragraph {
    display: block;
   margin-top: 12px;
    margin-bottom: 12px;
}

