aiofiles==23.2.1
aiohttp==3.8.5
Flask==3.0.3
Flask[async]==3.0.3
numpy==1.24.3
Requests==2.31.0
tensorflow==2.13.0
tensorflow_hub==0.14.0
Werkzeug==3.0.2
keras==2.13.1
Pillow==10.0.0
onnxruntime==1.15.1
opencv-python==4.8.0.76
g4f==0.3.1.9
aiohttp-socks==0.8.4
vk_api==11.9.9