.banner {
    position: relative;
    margin: 8px 0;

}

.banner :global(.vkuiBanner__in){
    background: var(--vkui--color_background_content) !important;
}

.compactBanner :global(.vkuiBanner__in) {
    display: flex;
    flex-direction: column;
}

.compactBanner :global(.vkuiBanner__before) {
    margin-right: 0;
    margin-bottom: 12px;
}
