.image {
    border-radius: var(--vkui--size_border_radius--regular);
    width: 100%;
    height: 100%;
    display: flex;
}

.image :global(.lazy-load-image-background) {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1.7fr 4fr;
    grid-template-rows: max-content;
    gap: 8px;
}


.containerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}


.header {
    display: grid;
    grid-template-columns: max-content min-content;
}

.headerText {
    margin-top: 12px;
    color: var(--vkui--color_text_secondary);

}

.containerInfoMobile {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 8px;
}

.tappable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}