.caret {
    color: var(--vkui--color_background_accent)
}

.container {
    display: flex;
}

.output {
    width: 100%;
    position: relative;
    margin-left: 4px;
    top: -2px;
}

.output :global(pre) {
    margin-top: 0;
}

.output :global(p) {
    margin-top: 0;
}