.container {
    columns: 3;
    column-gap: 12px;
    word-break: break-word;
}

@media (max-width: 768px) {
    .container {
        columns: 1;
    }
}

.image {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
}

.card {
    width: 100%;
    margin-bottom: 12px;
    transition: 0.3s;
    break-inside: avoid;
    cursor: pointer;
}

.card :global(.vkuiContentCard__tappable) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card :global(.vkuiTappable[aria-disabled=true]) {
    cursor: pointer;
}

.card:hover {
    opacity: 0.6;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}