
.code {
    padding-right: 40px !important;
    box-sizing: border-box;
    width: 100%;
}

.blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.paragraph {
    display: block;
    margin-top: 12px;
}

pre {
    background: var(--vkui--color_background_tertiary_alpha);
    border-radius: var(--vkui--size_border_radius--regular);
    position: relative;
    padding: 10px 24px 10px 10px;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 10px;
}

code {
    background: none !important;
}

code[class*=language-] {
    text-shadow: none !important;
}

.vkuiPlaceholder__in {
    padding: 24px 32px !important;
}

.vkuiPopoutWrapper {
    z-index: 100;
}

table {
    margin-top: 20px;
    text-align: left;
    position: relative;
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--vkui--color_text_primary);
    padding: 5px;
}

th {
    color: var(--vkui--color_text_primary);
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 5px;
}

tfoot > tr  {
    background: black;
    color: white;
}

.cm-gutters {
    background: var(--vkui--color_background_content) !important;
}

.ͼo {
    background: var(--vkui--color_background_content) !important;
}

.cm-activeLine {
    background: var(--vkui--color_background_tertiary--hover) !important;
}

.cm-activeLineGutter {
    background: var(--vkui--color_background_tertiary--hover) !important;
}

.code-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -12px;
    margin-left: -12px;
}

[data-edit-mock] {
    margin-top: 12px;
    margin-left: 12px;
}

[data-copy-mock] {
    margin-top: 12px;
    margin-left: 12px;
}

[data-copy-mock] button{
    transition: opacity 0.3s;
}

[data-edit-mock] button{
    transition: opacity 0.3s;
}

[data-copy-mock] button:hover{
    opacity: 0.8;
}

[data-edit-mock] button:hover{
    opacity: 0.8;
}

[data-copy-mock] button:active{
    opacity: 0.6;
}

[data-edit-mock] button:active{
    opacity: 0.6;
}

.vkuiHorizontalCell__image {
    padding: 2px 6px;
}

.vkuiWriteBar__after, .vkuiWriteBar__before, .vkuiWriteBar__form {
    align-items: center !important;
}